<%= form_with(model: book_history, local: true) do |form| %>
  <% if book_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_history.errors.count, "error") %> prohibited this book_history from being saved:</h2>

      <ul>
        <% book_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :borrow_date %>
    <%= form.date_select :borrow_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
