<p id="notice"><%= notice %></p>

<h1>Book Histories</h1>

<table>
  <thead>
    <tr>
      <th>Borrow Student name</th>
      <th>Borrow Student email</th>
      <th>Borrow date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_histories.each do |book_history| %>
      <tr>
        <% if current_admin and book_history.book_id == params[:format].to_i%>
          <td><%= Student.find(book_history.student_id).name%></td>
          <td><%= Student.find(book_history.student_id).email%></td>
          <td><%= book_history.borrow_date%></td>
        <% elsif current_librarian and book_history.book_id == params[:format].to_i%>
          <td><%= Student.find(book_history.student_id).name%></td>
          <td><%= Student.find(book_history.student_id).email%></td>
          <td><%= book_history.borrow_date%></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', books_path%>
<br>

