<!DOCTYPE html>
<html>
  <head>
    <title>Librarysystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Front Page', root_path %> |
    <% if current_user %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('Change Password', edit_registration_path(:user)) %>
    <% else %>
      <%= link_to('Register', new_registration_path(:user)) %> |
      <%= link_to('Login', new_session_path(:user)) %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
