<!DOCTYPE html>
<html>
  <head>
    <title>Librarysystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Online Library System</h1>

  <%= yield %>
  <br><br>

  <%= link_to "List all libraries", libraries_url %> <%= link_to "List all books", books_url %>

  </body>
</html>
