<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @adminuser.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @adminuser.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @adminuser.password %>
</p>

<%= link_to 'Edit', edit_adminuser_path(@adminuser) %> |
<%= link_to 'Back', adminusers_path %>
