<p id="notice"><%= notice %></p>

<h1>Owe Moneys</h1>

<table>
  <thead>
    <tr>
      <th>Book ISBN</th>
      <th>Book Title</th>
      <th>Libraty</th>
      <th>Student</th>
      <th>Overdue fine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owe_moneys.each do |owe_money| %>
      <tr>
        <% if current_admin and owe_money.overdue_fine != 0%>
          <td><%= Book.find(owe_money.book_id).isbn %></td>
          <td><%= Book.find(owe_money.book_id).title %></td>
          <td><%= Library.find(owe_money.library_id).name %></td>
          <td><%= Student.find(owe_money.student_id).email %></td>
          <td><%= owe_money.overdue_fine %></td>
        <% elsif current_librarian and owe_money.overdue_fine != 0 and owe_money.library_id == current_librarian.id%>
          <td><%= Book.find(owe_money.book_id).isbn %></td>
          <td><%= Book.find(owe_money.book_id).title %></td>
          <td><%= Library.find(owe_money.library_id).name %></td>
          <td><%= Student.find(owe_money.student_id).email %></td>
          <td><%= owe_money.overdue_fine %></td>
        <% elsif current_student and owe_money.overdue_fine != 0 and current_student.id == owe_money.student_id%>
          <td><%= Book.find(owe_money.book_id).isbn %></td>
          <td><%= Book.find(owe_money.book_id).title %></td>
          <td><%= Library.find(owe_money.library_id).name %></td>
          <td><%= Student.find(owe_money.student_id).email %></td>
          <td><%= owe_money.overdue_fine %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', root_path %>
