<%= form_with(model: book, local: true, multipart: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :authors %>
    <%= form.text_field :authors %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.text_field :published %>
  </div>

  <div class="field">
    <%= form.label :edition %>
    <%= form.text_field :edition %>
  </div>

  <div class="field">
    <%= form.label :front_cover %>
    <%= form.file_field :front_cover %>
  </div>

  <% if @book.front_cover?%>
      <%= image_tag(@book.front_cover.url, size:"216x279") %>
  <% else %>
    <div class="field">
      <%= form.label :subject %>
      <%= form.text_field :subject, accept:'image/jpg, image/png' %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary %>
  </div>

  <%= form.label :special %>
  <%= select("book", "special", [['If special?', ''], ["Yes", "Yes"], ["No", "No"]])%>

  <%= form.label :library_id %>
  <%= select("book", "library_id", Library.all.collect{ |c| [ c.name, c.id] }) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
