<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @book.edition %>
</p>

<p>
  <strong>Front cover:</strong>
  <%= image_tag(@book.front_cover.url, size:"216x279") if @book.front_cover?%>
</p>

<p>
  <strong>Subject:</strong>
  <%= @book.subject %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Special:</strong>
  <%= @book.special %>
</p>

<p>
  <b>Library:</b>
  <%= Library.find(@book.library_id).name %>
</p>

<p>
  <strong>Borrow Date:</strong>
  <% if @book.borrow_date %>
    <%= @book.borrow_date %>
  <% else %>
    <%= 'Un-borrowed' %>
  <% end %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
