<%= form_with(model: studentuser, local: true) do |form| %>
  <% if studentuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studentuser.errors.count, "error") %> prohibited this studentuser from being saved:</h2>

      <ul>
        <% studentuser.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :university %>
    <%= form.text_field :university %>
  </div>

  <div class="field">
    <%= form.label :maxborrowdays %>
    <%= form.number_field :maxborrowdays %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
